<% if bracket_position_id != '701' %>
<div class="live-top"></div>
<% end %>
<div class="game-cell">
  <div class="team-info info_top">
    <div class="team-seed"></div>
    <div class="team-name"></div>
    <div class="team-score"></div>
  </div>
  <div class="team-info info-bottom">
    <div class="team-seed"></div>
    <div class="team-name"></div>
    <div class="team-score"></div>
  </div>
</div>
<div class="live-bottom"></div>
