<% if bracket_position_id != '701' %>
<div class="live-top"></div>
<% end %>
<div class="game-cell">
  <div class="teamInfo_top">
    <div class="teamLogo"></div>
    <div class="teamSeed"></div>
    <div class="teamName"></div>
    <div class="teamScore"></div>
  </div>
  <div class="teamInfo_bottom">
    <div class="teamLogo"></div>
    <div class="teamSeed"></div>
    <div class="teamName"></div>
    <div class="teamScore"></div>
  </div>
</div>
<div class="live-bottom"></div>
