<% @r = @regions.find_by(quadrant_id: quadrant_id) %>
<% if @r.blank? %>
  <span class='regionHeading'>Enter Region</span>
<% else %>
  <%= content_tag :span, class: 'regionHeading', style: @r.style do %>
    <%= @r.name %>
  <% end %>
<% end %>
