<% provide(:title, "Bracket") %>
<%= stylesheet_link_tag 'bracket', cache: true %>
<div class="panel panel-default">
  <div class="panel-heading" align="center" style="font-size:2em;"><%= $year %> Bracket</div>
  <div class="panel-body" style="padding:0;">
    <section class="col-12-lg col-md-12 col-sm-12" style="padding-left:1em; padding-right:1em;">
      <div id="bracket-top" class="bracket-section">
        <section id="bracket-top-left" class="bracket-region ltr">
          <div class="region-info">
            Midwest
          </div>
          <section id="game201" class="game-set sect-2 col-1 pos-1 pre game-xs">
            <div class="live-top">
            </div>
            <div class="game-cell pre">
              <div class="team-info info-top">
                <div class="team-seed">1</div>
                <div class="team-name">Purdue</div>
                <div class="game-status">
                </div>
              </div>
              <div class="team-info info-bottom">
                <div class="team-seed">16</div>
                <div class="team-name">University of Louisville Blah</div>
                <div class="game-status">
                </div>
              </div>
            </div>
            <div class="live-bottom">
            </div>
          </section>
          
          <section id="game202" class="game-set  sect-2 col-1 pos-2  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game203" class="game-set  sect-2 col-1 pos-3  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game204" class="game-set  sect-2 col-1 pos-4  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game205" class="game-set  sect-2 col-1 pos-5  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game206" class="game-set  sect-2 col-1 pos-6  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game207" class="game-set  sect-2 col-1 pos-7  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game208" class="game-set  sect-2 col-1 pos-8  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game301" class="game-set  sect-2 col-2 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 21</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game302" class="game-set  sect-2 col-2 pos-2  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 21</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game303" class="game-set  sect-2 col-2 pos-3  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 21</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game304" class="game-set  sect-2 col-2 pos-4  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 21</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game401" class="game-set  sect-2 col-3 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 26</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game402" class="game-set  sect-2 col-3 pos-2  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 26</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game501" class="game-set  sect-2 col-4 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 28</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
        </section>
        <section id="bracket-top-right" class="bracket-region rtl">
          <div class="region-info">
          </div>
          
          <section id="game217" class="game-set  sect-3 col-1 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game218" class="game-set  sect-3 col-1 pos-2  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game219" class="game-set  sect-3 col-1 pos-3  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game220" class="game-set  sect-3 col-1 pos-4  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game221" class="game-set  sect-3 col-1 pos-5  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game222" class="game-set  sect-3 col-1 pos-6  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game223" class="game-set  sect-3 col-1 pos-7  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game224" class="game-set  sect-3 col-1 pos-8  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game309" class="game-set  sect-3 col-2 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 22</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game310" class="game-set  sect-3 col-2 pos-2  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 22</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game311" class="game-set  sect-3 col-2 pos-3  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 22</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game312" class="game-set  sect-3 col-2 pos-4  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 22</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game405" class="game-set  sect-3 col-3 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 27</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game406" class="game-set  sect-3 col-3 pos-2  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 27</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game503" class="game-set  sect-3 col-4 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 29</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
        </section>
      </div>
      <div id="bracket-middle" class="bracket-section">
        <div class="champ-logo"><img class="championship-bracket-logo" typeof="foaf:Image" src="http://i.turner.ncaa.com/dr/ncaa/ncaa7/release/sites/default/files/styles/championship_bracket_logo/public/m_final_four.png?itok=6L8M8-mp" alt=""></div>
        <section id="bracket-final" class="bracket-region ctr">
          <h2 class="element-invisible">FINAL FOUR®</h2>
          <div id="bracket-final-header">
            <div class="region-info">
            </div>
          </div>
          <div id="bracket-final-games">
            
            <section id="game601" class="game-set  sect-6 col-1 pos-1  pre  game-sm ">
              <h3 class="element-invisible"> vs </h3>
              <div class="live-top">
                
                
                
                
                
                
                
              </div>
              <div class="game-cell pre ">
                <div class="team-info info-top ">
                  
                  <div class="team-seed"></div>
                  
                  <div class="team-name"></div>
                  
                  
                  <div class="game-status">
                    <div class="game-preview">
                      <div class="inner">
                        <span>Apr 4</span>
                        <span></span>
                        
                      </div>
                    </div>
                  </div>
                  
                  <div class="game-status">
                    
                  </div>
                </div>
                <div class="team-info info-bottom ">
                  
                  <div class="team-seed"></div>
                  
                  <div class="team-name"></div>
                  
                  <div class="game-status">
                    
                  </div>
                </div>
              </div>
              <div class="live-bottom">
                
              </div>
            </section>
            
            <section id="game701" class="game-set  sect-6 col-2 pos-1  pre  game-lg championship">
              <h3 class="element-invisible"> vs </h3>
              <div class="live-top">
                
                
                
                
                
                
                
              </div>
              <div class="game-cell pre ">
                <div class="team-info info-top ">
                  
                  <div class="team-seed"></div>
                  
                  <div class="team-name"></div>
                  
                  
                  <div class="game-status">
                    <div class="game-preview">
                      <div class="inner">
                        <span>Apr 6</span>
                        <span></span>
                        
                      </div>
                    </div>
                  </div>
                  
                  <div class="game-status">
                    
                  </div>
                </div>
                <div class="team-info info-bottom ">
                  
                  <div class="team-seed"></div>
                  
                  <div class="team-name"></div>
                  
                  <div class="game-status">
                    
                  </div>
                </div>
              </div>
              <div class="live-bottom">
                
              </div>
            </section>
            
            <section id="game602" class="game-set  sect-6 col-3 pos-1  pre  game-sm ">
              <h3 class="element-invisible"> vs </h3>
              <div class="live-top">
                
                
                
                
                
                
                
              </div>
              <div class="game-cell pre ">
                <div class="team-info info-top ">
                  
                  <div class="team-seed"></div>
                  
                  <div class="team-name"></div>
                  
                  
                  <div class="game-status">
                    <div class="game-preview">
                      <div class="inner">
                        <span>Apr 4</span>
                        <span></span>
                        
                      </div>
                    </div>
                  </div>
                  
                  <div class="game-status">
                    
                  </div>
                </div>
                <div class="team-info info-bottom ">
                  
                  <div class="team-seed"></div>
                  
                  <div class="team-name"></div>
                  
                  <div class="game-status">
                    
                  </div>
                </div>
              </div>
              <div class="live-bottom">
                
              </div>
            </section>
          </div>
          <figure id="bracket-champ">
            <h3 class="element-invisible">WINNER</h3>
          </figure>
        </section>
      </div>
      <div id="bracket-bottom" class="bracket-section">
        <section id="bracket-bottom-left" class="bracket-region ltr">
          <div class="region-info">
          </div>
          
          <section id="game209" class="game-set  sect-4 col-1 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game210" class="game-set  sect-4 col-1 pos-2  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game211" class="game-set  sect-4 col-1 pos-3  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game212" class="game-set  sect-4 col-1 pos-4  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game213" class="game-set  sect-4 col-1 pos-5  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game214" class="game-set  sect-4 col-1 pos-6  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game215" class="game-set  sect-4 col-1 pos-7  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game216" class="game-set  sect-4 col-1 pos-8  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 19</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game305" class="game-set  sect-4 col-2 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 21</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game306" class="game-set  sect-4 col-2 pos-2  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 21</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game307" class="game-set  sect-4 col-2 pos-3  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 21</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game308" class="game-set  sect-4 col-2 pos-4  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 21</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game403" class="game-set  sect-4 col-3 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 26</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game404" class="game-set  sect-4 col-3 pos-2  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 26</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game502" class="game-set  sect-4 col-4 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 28</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
        </section>
        <section id="bracket-bottom-right" class="bracket-region rtl">
          <div class="region-info">
          </div>
          
          <section id="game225" class="game-set  sect-5 col-1 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game226" class="game-set  sect-5 col-1 pos-2  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game227" class="game-set  sect-5 col-1 pos-3  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game228" class="game-set  sect-5 col-1 pos-4  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game229" class="game-set  sect-5 col-1 pos-5  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game230" class="game-set  sect-5 col-1 pos-6  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game231" class="game-set  sect-5 col-1 pos-7  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game232" class="game-set  sect-5 col-1 pos-8  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 20</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game313" class="game-set  sect-5 col-2 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 22</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game314" class="game-set  sect-5 col-2 pos-2  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 22</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game315" class="game-set  sect-5 col-2 pos-3  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 22</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game316" class="game-set  sect-5 col-2 pos-4  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 22</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game407" class="game-set  sect-5 col-3 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 27</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game408" class="game-set  sect-5 col-3 pos-2  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 27</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game504" class="game-set  sect-5 col-4 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 29</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
        </section>
      </div>
      <div id="bracket-footer" class="bracket-section ">
        <section id="bracket-first" class="bracket-region ctr">
          <div class="region-info">
            <h2 class="region-title">First Four®</h2>
            <ul>
              <li class="region-subtitle">March 17-18, DAYTON</li>
            </ul>
          </div>
          
          <section id="game101" class="game-set  sect-1 col-1 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 17</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game102" class="game-set  sect-1 col-2 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 17</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          <section id="game103" class="game-set  sect-1 col-3 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 18</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
          
          <section id="game104" class="game-set  sect-1 col-4 pos-1  pre  game-xs ">
            <h3 class="element-invisible"> vs </h3>
            <div class="live-top">
              
              
              
              
              
              
              
            </div>
            <div class="game-cell pre ">
              <div class="team-info info-top ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                
                <div class="game-status">
                  <div class="game-preview">
                    <div class="inner">
                      <span>Mar 18</span>
                      <span></span>
                      
                    </div>
                  </div>
                </div>
                
                <div class="game-status">
                  
                </div>
              </div>
              <div class="team-info info-bottom ">
                
                <div class="team-seed"></div>
                
                <div class="team-name"></div>
                
                <div class="game-status">
                  
                </div>
              </div>
            </div>
            <div class="live-bottom">
              
            </div>
          </section>
          
        </section>
      </div>
    </section>
  </div>
</div>