<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style>
      .team-seed {
        font-size: smaller;
        text-align: right;
      }
    </style>
  </head>
  <body>
    <h1>Congratulations, ~Al!</h1>
    <p>
      You have won ~$5 in round #~2 of the NCAA Men's Basketball Tournament, and ~$10 overall.
    </p>
    <table>
      <tr>
        <td class="team-seed">3</td>
        <td>Purdue</td>
        <td>87</td>
      </tr>
      <tr>
        <td class="team-seed">14</td>
        <td>Indiana</td>
        <td>75</td>
      </tr>
    </table>
  </body>
</html>
