.element-invisible {
position:absolute!important;
clip:rect(1px,1px,1px,1px);
overflow:hidden;
height:1px;
}

.element-invisible.element-focusable:active,.element-invisible.element-focusable:focus {
position:static!important;
clip:auto;
overflow:visible;
height:auto;
}

.champ-logo {
width:170px;
position:absolute;
display:block;
right:400px;
text-align:Center;
top:-160px;
}

.bracket-section {
width:100%;
display:inline-block;
position:relative;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

.bracket-footer {
clear:both;
text-align:center;
font-weight:700;
margin-bottom:34px;
margin-top:13px;
height:21px;
}

.game-xs {
width:160px;
}

.game-sm {
width:180px;
}

.game-md {
width:183px;
}

.game-lg {
width:200px;
}

.disabled {
opacity:0;
visibility:hidden;
}

.game-cell {
font-weight:400;
z-index:10;
position:relative;
color:#888;
}

.ltr {
float:left;
direction:ltr;
}

.rtl {
float:right;
direction:rtl;
}

.rtl .team-seed {
padding:1px 5px 0 1px;
}

.rtl .team-score {
float:left;
text-align:left;
padding-left:12px;
}

.rtl .game-time,.rtl .game-quarter {
float:left;
text-align:right;
padding-left:5px;
}

.rtl .last .game-time,.rtl .last .game-quarter,.rtl .last .team-score {
float:left;
text-align:left;
}

.rtl .winner .team-score {

}

.ltr .team-name,.ltr team-seed,.ctr .team-name,.ctr team-seed,.third-place .team-name,.third-place team-seed {
float:left;
text-align:right;
}

.ltr .team-seed,.ctr .team-seed,.third-place .team-seed {
padding:1px 1px 0 1px;
}

.ltr .team-score,.ctr .team-score,.third-place .team-score {
float:right;
text-align:right;
padding-right:12px;
}

.ltr .last .game-time,.ltr .last .game-quarter,.ltr .last .team-score,.ctr .last .game-time,.ctr .last .game-quarter,.ctr .last .team-score,.third-place .last .game-time,.third-place .last .game-quarter,.third-place .last .team-score {
float:right;
text-align:right;
}

.ltr .winner .team-score,.ctr .winner .team-score,.third-place .winner .team-score {

}

.third-place .live-bottom {
float:none;
margin:auto;
}

.game-set.has-data:hover .game-cell {
-webkit-box-shadow:0 0 4px 4px rgba(0,0,0,0.05);
-moz-box-shadow:0 0 4px 4px rgba(0,0,0,0.05);
box-shadow:0 0 4px 4px rgba(0,0,0,0.05);
}

#bracket-top,#bracket-bottom {
height:680px;
}

#bracket-middle {
height:150px;
}

#bracket-footer {
height:100px;
background:slategrey; /*midnightblue*/
margin:10px auto;
padding:10px 0;
}

.ltr .col-1 {
left:4px;
}

.ltr .col-2 {
left:177px;
}

.ltr .col-3 {
left:245px;
}

.ltr .col-4 {
left:310px;
}

.rtl .col-1 {
right:4px;
}

.rtl .col-2 {
right:177px;
}

.rtl .col-3 {
right:245px;
}

.rtl .col-4 {
right:310px;
}

.col-1.pos-2 {
top:80px;
}

.col-1.pos-3 {
top:168px;
}

.col-1.pos-4 {
top:248px;
}

.col-1.pos-5 {
top:340px;
}

.col-1.pos-6 {
top:422px;
}

.col-1.pos-7 {
top:511px;
}

.col-1.pos-8 {
top:591px;
}

.col-2.pos-1 {
top:39px;
}

.col-2.pos-2 {
top:210px;
}

.col-2.pos-3 {
top:382px;
}

.col-2.pos-4 {
top:551px;
}

.col-3.pos-1 {
top:124px;
}

.col-3.pos-2 {
top:467px;
}

.col-4.pos-1 {
top:297px;
}

.region-info .region-title {
color:#00375C;
margin-bottom:0;
margin-top:12px;
font-family:TechwoodSlabW04,Rockwell,Georgia,serif;
font-size:18px;
font-weight:700;
text-align: center !important;
}

.region-info .region-title,.region-info .region-subtitle {
width:200px;
text-transform:uppercase;
}

.region-info li {
font-size:9px;
line-height:9px;
color:#00375C;
font-family:sans-serif;
}

.rtl .region-info,.ltr .region-info {
top:317px;
}

.rtl .region-info {
right:100px;
text-align:left;
}

.ltr .region-info {
left:100px;
text-align:right;
}

.ctr .region-info .region-title {
width:100%;
margin-top:0;
text-align:center;
}

.game-set .flags-sprite,.game-set .flags-bot-grey-flag,.game-set .flags-bot-lgt-grey-flag,.game-set .flags-bot-lrg-wht-flag,.game-set .flags-bot-med-wht-flag,.game-set .flags-br-black-top-flag,.game-set .flags-br-red-flag,.game-set .flags-br-red-top-flag,.game-set .flags-br-white-flag,.game-set .flags-br-white-top-flag,.game-set .flags-sm-black-top-flag,.game-set .flags-sm-red-bottom-flag,.game-set .flags-sm-red-top-flag,.game-set .flags-sm-white-bottom-flag,.game-set .flags-sm-white-top-flag,.game-set .flags-top-grey-flag,.game-set .flags-top-lgt-grey-flag,.game-set .flags-top-lrg-wht-flag,.game-set .flags-top-med-wht-flag {
background:url(/dr/ncaa/ncaa7/release/sites/all/modules/custom/live_data/images/flags-sb5f0de5dd5.png) no-repeat;
}

.game-set .flags-bot-grey-flag {
background-position:0 -210px;
height:15px;
width:63px;
}

.game-set .flags-bot-lgt-grey-flag {
background-position:0 -330px;
height:15px;
width:63px;
}

.game-set .flags-bot-lrg-wht-flag {
background-position:0 -300px;
height:15px;
width:78px;
}

.game-set .flags-bot-med-wht-flag {
background-position:0 -447px;
height:12px;
width:69px;
}

.game-set .flags-br-black-top-flag {
background-position:0 -120px;
height:15px;
width:99px;
}

.game-set .flags-br-red-flag {
background-position:0 0;
height:15px;
width:99px;
}

.game-set .flags-br-red-top-flag {
background-position:0 -30px;
height:15px;
width:99px;
}

.game-set .flags-br-white-flag {
background-position:0 -60px;
height:15px;
width:99px;
}

.game-set .flags-br-white-top-flag {
background-position:0 -90px;
height:15px;
width:99px;
}

.game-set .flags-sm-black-top-flag {
background-position:0 -180px;
height:15px;
width:89px;
}

.game-set .flags-sm-red-bottom-flag {
background-position:0 -150px;
height:15px;
width:89px;
}

.game-set .flags-sm-red-top-flag {
background-position:0 -270px;
height:15px;
width:89px;
}

.game-set .flags-sm-white-bottom-flag {
background-position:0 -474px;
height:12px;
width:55px;
}

.game-set .flags-sm-white-top-flag {
background-position:0 -501px;
height:12px;
width:55px;
}

.game-set .flags-top-grey-flag {
background-position:0 -240px;
height:15px;
width:63px;
}

.game-set .flags-top-lgt-grey-flag {
background-position:0 -360px;
height:15px;
width:63px;
}

.game-set .flags-top-lrg-wht-flag {
background-position:0 -390px;
height:15px;
width:78px;
}

.game-set .flags-top-med-wht-flag {
background-position:0 -420px;
height:12px;
width:69px;
}

.team-info {
-webkit-box-shadow:0 1px 3px 0 rgba(10,10,10,0.1);
-moz-box-shadow:0 1px 3px 0 rgba(10,10,10,0.1);
box-shadow:0 1px 3px 0 rgba(10,10,10,0.1);
clear:both;
font-weight:400;
height:26px;
line-height:26px;
}

.team-info.info-bottom {
margin-top:2px;
}

.live .team-name,.live .team-score {
color:#0079FF;
font-weight:700;
}

.canceled .team-name,.canceled .team-score,.postponed .team-name,.postponed .team-score,.suspended .team-name,.suspended .team-score {
color:#888;
}

.team-name {
overflow:hidden;
white-space:nowrap;
float:left;
font-size:11px;
padding:0 2px;
}

.team-score {
font-weight:700;
font-family:TechwoodSlabW04,Rockwell,Georgia,serif;
font-size:12px;
width:19px;
}

.game-time,.game-quarter {
float:right;
text-align:left;
text-transform:capitalize;
font-size:9px;
line-height:26px;
right:0;
padding-right:5px;
color:#888;
font-weight:700;
}

.team-logo {
float:left;
padding:0 3px;
}

.show-logo .team-logo {
width:24px;
}

.team-seed {
float:left;
text-align:right;
width:10%;
color:#AAA;
font-size:10px;
font-weight:700;
}

.team-seed:after {
content:'.';
visibility:hidden;
}

.game-sm .team-info.info-bottom,.game-sm .team-info.info-top {
height:32px;
line-height:32px;
}

.game-sm .team-score {
padding-left:2px;
}

.game-md .team-seed {
height:22px;
width:10px;
line-height:30px;
text-align:center;
padding:0 1px;
}

.game-md .team-name {
width:96px;
padding:0;
}

.game-md .team-logo {
height:20px;
}

.game-md .team-logo img {
padding:0 1px;
}

.game-md .game-time,.game-md .game-quarter {
margin-right:1px;
padding-left:0;
position:absolute;
}

.game-lg .team-score {
font-size:14px;
}

.game-preview {
width:44px;
direction:ltr;
height:50px;
background:#FFF;
right:0;
position:absolute;
z-index:100;
border:8px solid #FFF;
border-bottom:0 solid #FFF;
border-top:3px solid #FFF;
border-left:0 solid #FFF;
border-right:0 solid #FFF;
text-align:center;
line-height:14px;
color:#888;
font-weight:700;
font-size:9px;
display:table;
-webkit-border-radius:2px;
-moz-border-radius:2px;
-ms-border-radius:2px;
-o-border-radius:2px;
border-radius:2px;
}

.game-preview .inner span {
display:inline-block;
white-space:nowrap;
}

.game-preview .inner .network {
display:inline-block;
width:100%;
}

.game-sm .game-preview,.game-lg .game-preview,.game-md .game-preview {
height:62px;
line-height:14px;
}

.rtl .game-preview {
right:auto;
left:0;
}

.live-top,.live-bottom {
white-space:nowrap;
display:block;
text-transform:uppercase;
z-index:9;
position:relative;
height:15px;
color:#AAA;
font-weight:700;
text-align:center;
/*margin:0;
padding:0;*/
}

.live-bottom {
line-height:14px;
font-size:9px;
width:100% !important;
direction:ltr;
}

.live-bottom .flags-bot-lrg-wht-flag {
height:12px;
}

.live-top {
font-size:11px;
/*font-family:TechwoodSlabW04,Rockwell,Georgia,serif;*/
z-index:11;
/*color:#FFF;*/
line-height:16px;
}

.live-top a {
z-index:11;
color:#FFF;
cursor:pointer;
display:block;
line-height:14px;
}

#bracket-champ {
width:200px;
position:relative;
left:50%;
top:85px;
margin-left:-100px;
text-align:center;
display:none;
}

#bracket-champ h3 {
display:inline-block;
width:200px;
margin:0;
padding:10px 0;
}

#bracket-champ .champion {
-webkit-border-radius:2px;
-moz-border-radius:2px;
-ms-border-radius:2px;
-o-border-radius:2px;
border-radius:2px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-box-shadow:0 2px 3px 1px rgba(10,10,10,0.1);
-moz-box-shadow:0 2px 3px 1px rgba(10,10,10,0.1);
box-shadow:0 2px 3px 1px rgba(10,10,10,0.1);
font-family:TechwoodSlabW04,Rockwell,Georgia,serif;
color:#0065A8;
font-size:16px;
text-align:center;
background:#FFF;
display:block;
margin:0 auto;
padding:5px 3px;
}

#bracket-final h3,#bracket-final h2 {
text-align:center;
font-family:TechwoodSlabW04,Rockwell,Georgia,serif;
font-weight:700;
font-size:14px;
color:#00375C;
text-transform:uppercase;
white-space:nowrap;
margin:0;
}

#bracket-final-rounds {
text-align:center;
font-family:HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
position:relative;
top:-35px;
}

#bracket-final-rounds h3 {
color:#666;
position:absolute;
font-family:HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
width:175px;
height:16px;
text-transform:inherit;
font-size:10px;
margin:0;
}

#bracket-final-rounds li {
color:#666;
position:absolute;
width:175px;
line-height:12px;
margin:16px 0 0;
}

#bracket-final-rounds .ctr {
left:400px;
}

#bracket-final-rounds .left {
left:200px;
}

#bracket-final-rounds .right {
right:200px;
}

#bracket-final-header {
width:100%;
position:relative;
display:inline-block;
margin:0 auto;
}

#bracket-final-header .region-subtitle {
width:100%;
text-align:center;
color:#00375C;
text-transform:none;
font-size:12px;
}

#bracket-final-games {
position:relative;
display:inline-block;
}

#bracket-final-games .col-3 .live-top {
direction:rtl;
}

#bracket-final-games .col-3 .live-bottom {
direction:ltr;
float:left;
}

#bracket-final.ctr .col-1 {
left:195px;
}

#bracket-final.ctr .col-2 {
left:385px;
}

.championship .live-top,.championship .live-bottom {
float:none;
width:100%;
}

#bracket-footer.current {
background:#666;
}

#bracket-third {
position:absolute;
width:180px;
left:50%;
margin-left:-90px;
bottom:0;
height:100px;
}

#bracket-third #game802 {
top:0;
left:0;
}

#bracket-third h3 {
text-align:center;
font-family:TechwoodSlabW04,Rockwell,Georgia,serif;
font-weight:700;
font-size:13px;
color:#888;
text-transform:uppercase;
white-space:nowrap;
margin-top:-30px;
}

#bracket-first .region-info .region-title {
top:30px;
color:#FFF;
position:absolute;
margin:0;
}

#bracket-first .region-info .region-subtitle {
top:55px;
color:#FFF;
position:absolute;
width:100%;
text-align:center;
text-transform:initial;
font-weight:700;
margin:0;
}

#bracket-first.ctr .col-1 {
left:35px;
}

#bracket-first.ctr .col-2 {
left:250px;
}

#bracket-first.ctr .col-3 {
right:250px;
}

#bracket-first.ctr .col-4 {
right:35px;
}

.regional-reference {
font-size:13px;
font-family:TechwoodSlabW04,Rockwell,Georgia,serif;
color:#FFF;
width:35px;
position:absolute;
display:block;
font-weight:700;
margin-top:30px;
text-align:center;
}

.regional-reference.game-2 {
left:205px;
}

.regional-reference.game-3 {
right:205px;
}

#ncaa-bracket-social {
width:130px;
text-align:center;
position:absolute;
z-index:20;
left:435px;
top:70px;
}

#ncaa-bracket-social .timezone {
text-align:center;
font-size:12px;
font-weight:700;
color:#00375C;
display:block;
margin-bottom:5px;
}

#ncaa-bracket-social .social-sprite,#ncaa-bracket-social .social-facebook-share,#ncaa-bracket-social .social-googleplus-share,#ncaa-bracket-social .social-print-bracket,#ncaa-bracket-social .social-twitter-share {
background:url(/dr/ncaa/ncaa7/release/sites/all/modules/custom/live_data/images/brackets/social-s3debe29644.png) no-repeat;
}

#ncaa-bracket-social .social-facebook-share {
background-position:0 -147px;
height:31px;
width:31px;
}

#ncaa-bracket-social .social-googleplus-share {
background-position:0 -55px;
height:31px;
width:31px;
}

#ncaa-bracket-social .social-print-bracket {
background-position:0 0;
height:40px;
width:102px;
display:block;
cursor:pointer;
text-indent:-119988px;
overflow:hidden;
text-align:left;
margin:auto;
}

#ncaa-bracket-social .social-twitter-share {
background-position:0 -101px;
height:31px;
width:32px;
}

#ncaa-bracket-social #social-buttons {
width:114px;
display:inline-block;
margin:auto;
}

#ncaa-bracket-social #social-buttons li a {
margin-right:10px;
float:left;
}

#ncaa-bracket-social #social-buttons li a.last {
margin-right:0;
}

.network .networks-gray-fox,.network .networks-gray-fx,.network .networks-gray-lhn,.network .networks-gray-trutv {
margin-top:3px;
}

.network .networks-gray-sprite,.network .networks-gray-abc,.network .networks-gray-bet,.network .networks-gray-bigten,.network .networks-gray-cbs,.network .networks-gray-cbssports,.network .networks-gray-espn,.network .networks-gray-espn2,.network .networks-gray-espn3,.network .networks-gray-espnu,.network .networks-gray-fox,.network .networks-gray-fx,.network .networks-gray-lhn,.network .networks-gray-nbc,.network .networks-gray-nbcsports,.network .networks-gray-tbs,.network .networks-gray-tnt,.network .networks-gray-trutv {
background:url(/dr/ncaa/ncaa7/release/sites/all/modules/custom/live_data/images/networks-gray-s035d117bbe.png) no-repeat;
}

.network .networks-gray-abc {
background-position:0 -228px;
height:16px;
width:17px;
}

.network .networks-gray-bet {
background-position:0 -203px;
height:10px;
width:28px;
}

.network .networks-gray-bigten {
background-position:0 0;
height:14px;
width:29px;
}

.network .networks-gray-cbs {
background-position:0 -137px;
height:17px;
width:17px;
}

.network .networks-gray-cbssports {
background-position:0 -57px;
height:9px;
width:40px;
}

.network .networks-gray-espn {
background-position:0 -112px;
height:10px;
width:40px;
}

.network .networks-gray-espn2 {
background-position:0 -457px;
height:8px;
width:40px;
}

.network .networks-gray-espn3 {
background-position:0 -434px;
height:8px;
width:40px;
}

.network .networks-gray-espnu {
background-position:0 -81px;
height:16px;
width:17px;
}

.network .networks-gray-fox {
background-position:0 -259px;
height:13px;
width:28px;
}

.network .networks-gray-fx {
background-position:0 -373px;
height:12px;
width:22px;
}

.network .networks-gray-lhn {
background-position:0 -345px;
height:13px;
width:22px;
}

.network .networks-gray-nbc {
background-position:0 -29px;
height:13px;
width:22px;
}

.network .networks-gray-nbcsports {
background-position:0 -400px;
height:19px;
width:25px;
}

.network .networks-gray-tbs {
background-position:0 -313px;
height:17px;
width:16px;
}

.network .networks-gray-tnt {
background-position:0 -169px;
height:19px;
width:19px;
}

.network .networks-gray-trutv {
background-position:0 -287px;
height:11px;
width:29px;
}

#rounds .round2 {
width:195px;
padding:5px 15px;
}

#rounds .round3 {
width:67px;
}

#rounds .round4 {
width:70px;
}

#rounds .round5 {
width:76px;
}

#rounds .round6 {
width:184px;
}

#bracket-bottom {
background:url(/dr/ncaa/ncaa7/release/sites/all/modules/custom/live_data/images/brackets/bg/ff-background2014-bottom.png);
background-position:165px 40px;
background-repeat:no-repeat;
}

.ui-helper-hidden,.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle,#nav-favorites-footer .favsie-footer-buttons a.fav-footer-button.button-cancel-signin,#ncaa-mobile-drop-arrow,#bracket_popup,div.gig-share-sidebar {
display:none;
}

.ui-widget-content a,#bracket-popup .region.status .tier.contest .game-status .final {
color:#333;
}

.ui-widget-header a,.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a,.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text,#ncaa-nav-primary-navigation nav ul span.rightlinks li.favs:hover h2,#ncaa-nav-primary-navigation nav ul span.rightlinks li.favs.active h2,#ncaa-nav-primary-navigation nav ul span.rightlinks li.favs:hover h2 a,#ncaa-nav-primary-navigation nav ul span.rightlinks li.favs.active h2 a,#ncaa-nav-primary-navigation nav .parentItem:hover h2 span,#bracket-popup .section-tabs .sectionGames li.selected .score {
color:#fff;
}

.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary,.winner * {
font-weight:700;
}

.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-state-active .ui-icon {
background-image:url(http://i.turner.ncaa.com/dr/ncaa/ncaa7/release/sites/all/modules/custom/ncaa_admin/images/ui-icons_454545_256x240.png);
}

.ui-icon-seek-start,.ui-icon-seek-first {
background-position:-80px -160px;
}

.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl,#media-browser-tab.ui-corner-all,#media-browser-tab.ui-corner-top,#media-browser-tab.ui-corner-left,#media-browser-tab.ui-corner-tl {
-moz-border-radius-topleft:5px;
-webkit-border-top-left-radius:5px;
-khtml-border-top-left-radius:5px;
border-top-left-radius:5px;
}

.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr,#media-browser-tab.ui-corner-all,#media-browser-tab.ui-corner-top,#media-browser-tab.ui-corner-right,#media-browser-tab.ui-corner-tr {
-moz-border-radius-topright:5px;
-webkit-border-top-right-radius:5px;
-khtml-border-top-right-radius:5px;
border-top-right-radius:5px;
}

.ui-resizable,.asset-atom-content,#ncaa-nav-primary-navigation .button-wrap,.bracket-region {
position:relative;
}

.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus,#ncaa-nav-primary-navigation nav li.shop-nav h2,#ncaa-nav-primary-navigation nav.tickets_nav.content-panel li,#ncaa-nav-primary-navigation nav.shop_nav.content-panel li,#ncaa-nav-primary-navigation nav.video_nav.content-panel li {
padding:0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset,#ncaa-nav-primary-navigation .ncaa-nav li#shop,#ncaa-nav-primary-navigation .ncaa-nav li#search,.ltr .live-bottom,.ltr .watch-live-bottom,.ctr .live-bottom,.ctr .watch-live-bottom,.third-place .live-bottom,.third-place .watch-live-bottom {
float:right;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover,.ui-tabs .ui-tabs-nav li.ui-state-active,.ui-tabs .ui-tabs-nav li.ui-tabs-selected,#ncaa-nav-primary-navigation nav.championship_nav li:first-child {
border:none;
}

.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a,.ps-container.ncaa .ps-drop .ps-results li.active-result,#ncaa-nav-primary-navigation .favsieNavButton,.game-set.has-data {
cursor:pointer;
}

.ui-tabs .ui-tabs-hide,.mobileOnly {
display:none!important;
}

.ui-button-text-only .ui-button-text,input.ui-button {
padding:.4em 1em;
}

.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary {
right:.5em;
}

#ncaa-nav-primary-navigation nav ul span.rightlinks li.favs:hover,#ncaa-nav-primary-navigation nav ul span.rightlinks li.favs.active,#ncaa-nav-primary-navigation nav .parentItem:hover,#ncaa-nav-primary-navigation .button:hover {
background-color:#00375b;
}

#nav-favorites .favs-container,.network .networks-gray-cbssports,.network .networks-gray-espn,.network .networks-gray-espn2,.network .networks-gray-espn3 {
margin-top:5px;
}

#nav-favorites-workflow_content .favsie-marketing-text input,#ncaa-nav-primary-navigation .gender a:first-child {
margin-right:5px;
}

.asset-atom-content.block-640x360 object,.school_nav .search-schools label,.rtl .live-bottom,.rtl .watch-live-bottom {
float:left;
}

.asset-atom-content:hover .atom-edit,#ncaa-nav-primary-navigation nav.content-panel.active,.sports_nav .favAreaWrapper,.school_nav .favAreaWrapper,.no-js #search #search-term,.champ-banner,.game-time .active,.game-quarter .active,#bracket-popup .marketing a,#bracket-popup .region.gamecenter a,#bracket-popup .region.recap a {
display:block;
}

.sport-subnav ul.nav-items li.active,.sport-subnav ul.nav-items li.active a {
color:#002948;
}

.ncaa-nav-primary ul span.leftlinks li[data-menu='sports_nav'],.ncaa-nav-primary nav[data-menu='sports_nav'] header,#ncaa-nav-primary-navigation .button.mens,.col-1,.regional-reference.game-1,#bracket-popup .region.status .team.away {
left:0;
}

#ncaa-nav-primary-navigation nav.content-panel .ncaa-nav-subtitle,#ncaa-nav-primary-navigation nav.school_nav .ncaa-nav-subtitle,#ncaa-nav-primary-navigation nav.school_nav li.ncaa-nav-subtitle h2,.school_nav .search-schools label {
color:#00375b;
font-family:TechwoodSlabW04,Rockwell,Georgia,serif;
font-size:17px;
line-height:21px;
font-weight:700;
margin:5px 0 10px;
}

#ncaa-nav-primary-navigation nav.sports_nav.content-panel header,#ncaa-nav-primary-navigation nav.championship_nav.content-panel header,#ncaa-nav-primary-navigation nav.video_nav.content-panel header,#ncaa-nav-primary-navigation nav.tickets_nav.content-panel header,#ncaa-nav-primary-navigation nav.shop_nav.content-panel header {
left:-1px;
}

#ncaa-nav-primary-navigation nav.shop_nav.content-panel,#bracket-final.ctr .col-3 {
left:595px;
}

#ncaa-nav-primary-navigation .edit-nav-link:hover,#ncaa-nav-primary-navigation nav.content-panel .ncaa-nav-highlights a.edit-nav-link:hover,.team-info.info-top,.team-info.info-bottom {
background:#FFF;
}

#ncaa-nav-primary-navigation .button.womens,.regional-reference.game-4,#bracket-popup .region.status .team.home {
right:0;
}

#ncaa-nav-primary-navigation nav.content-panel .ncaa-nav-highlights,#ncaa-nav-primary-navigation nav.content-panel .ncaa-nav-highlights ul,.school_nav .school_nav-search,#bracket-champ .champion p {
margin:0;
}

#ncaa-nav-primary-navigation nav.championship_nav li a,#ncaa-nav-primary-navigation nav.championship_nav li .championship-logo,#ncaa-nav-primary-navigation nav.championship_nav li h2,.game-preview .inner {
display:table-cell;
vertical-align:middle;
}

#ncaa-nav-primary-navigation nav.championship_nav li:hover h2,.team-info.winner,.pre .team-name,.pre .team-score {
color:#00375C;
}

.round-table .round-row .round-cell.final,#bracket-popup .section-tabs {
text-align:center;
}

.round-table .round-row .round-cell.right,.ltr .region-info .region-title,.ctr .region-info .region-title,.third-place .region-info .region-title,.ltr .region-info li,.ctr .region-info li,.third-place .region-info li,#bracket-popup .region.gamecenter .story {
text-align:right;
}

.rtl .region-info .region-title,.rtl .region-info li {
text-align:left;
direction:ltr;
}

.rtl .team-name,.ltr,.ctr,.third-place,.ltr .team-name,.ctr .team-name,.third-place .team-name {
direction:ltr;
}

.rtl .team-name,.rtl .team-seed,.ltr .game-time,.ltr .game-quarter,.ctr .game-time,.ctr .game-quarter,.third-place .game-time,.third-place .game-quarter {
float:right;
text-align:left;
}

.third-place .live-top a,.third-place .live-top div,.championship .live-top a,.championship .live-bottom a,.championship .live-top div,.championship .live-bottom div {
margin:auto;
}

.game-set,.region-info {
position:absolute;
}

.col-1.pos-1,#bracket-final.ctr .col-1.pos-1,#bracket-final.ctr .col-2.pos-1,#bracket-final.ctr .col-3.pos-1,#bracket-first.ctr .col-1.pos-1,#bracket-first.ctr .col-2.pos-1,#bracket-first.ctr .col-3.pos-1,#bracket-first.ctr .col-4.pos-1 {
top:0;
}

.ctr .region-info,.ctr .region-info .region-subtitle {
width:100%;
text-align:center;
}

.team-logo img,#bracket-champ .champion img {
vertical-align:middle;
}

.game-md .team-info.info-bottom,.game-md .team-info.info-top,.game-lg .team-info.info-bottom,.game-lg .team-info.info-top {
font-size:10px;
height:32px;
line-height:32px;
}

.game-lg .team-seed,#bracket-popup .region.status .network {
height:33px;
line-height:33px;
}

.live-top a:hover,.live-top a:focus,.live-top a:visited,.live-top a:active,#bracket-popup .region.gamecenter .link.highlights a:hover,#bracket-popup .region.gamecenter .link.story a:hover {
text-decoration:none;
color:#FFF;
}

#bracket-final-header h2,#bracket-final-header h3 {
margin:-10px 0 0;
padding:0 0 5px;
}

#bracket-final-header h2.with-subtitle,#bracket-final-header h3.with-subtitle {
margin:-30px 0 0;
}

body {
/*font:14px/1.5em HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
/*color:#444;*/
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:100%;
/*background-repeat:no-repeat;*/
background-color:none; /*change this*/
/*background-position:top center;*/
}

#bracket-body {
position:relative;
/*width:1000px;*/
margin:0 auto;
padding:0;
}

.game-is-live {
  -webkit-box-shadow: 0 0 5px 3px darkgray;
  -moz-box-shadow: 0 0 5px 3px darkgray;
  box-shadow: 0 0 5px 3px darkgray;
}
