<div id="wait_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" align="center">
      <h2>Loading</h2>
      <p style="padding-bottom:1em;"><%= image_tag("wait.gif", height: '75', width: '75') %></p>
    </div>
  </div>
</div>
