<div id="wait_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h2>Loading</h2>
      <p><img src='https://lh5.googleusercontent.com/-vFvPrEm_AKY/Ux03eqKRQ5I/AAAAAAAAFQo/f_DxMms5YFE/s350-no/wait.gif' height='75px' width='75px' /></p>
    </div>
  </div>
</div>
